nav{
    display: flex;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
 }

 .nowrap{
    white-space: nowrap;
 }
 .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;

 }
 .nav-links{
   display: flex;
   justify-content: space-between;
 }

 .nav-links li {
    list-style: none;
    
 }
 .limiter {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
 }

 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    padding: 0 10%;
    position: fixed;
    z-index: 2;
    width: 100%;

 }

 .navlinks {
   background: linear-gradient(304.32deg, #0E9338 1.11%, #37B62E 72.89%);
   list-style-type: none;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    padding-top: 4rem;
    overflow-y: scroll;
   scrollbar-width: none; /* firefox scroll*/
    -ms-overflow-style: none; /* IE */
 }

 header.black nav{
    background-color: rgb(217, 217, 217);
    min-height: 70px;
    transition: all .15s ease-in-out;
 }
 
 .navlinks::-webkit-scrollbar {
   /* webkit scroll */
   width:0;
   height:0
 }
 
 .navitems {
    padding: 1rem 1.5rem;
 }
 
 .navbar a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
    margin-left: 24px;
 }
 span{
    color: #054200;
 }
 
 .dropmenu {
    list-style: none;
    margin:0;
    padding: 0;
    width: 30%;
    display: none;
 }
 
 .navitems:hover > .dropmenu {
    display: block;
    
 }
 
 .dropitems {
    text-align: left;
    padding: 1rem;
    width: 100%;
 }
 
 .logo {
    flex-grow: 1;
    width: 100%;

 }
 .logo {
   flex-grow: 0px;
   width: 100%;
   cursor: pointer;
   padding-top: 10px;
   padding-bottom: 5px;

   img{
      width: 47px;
    }
}
 
 #burger {
    z-index: 99;

 }
 
 .burgerlines {
    border-bottom: 2px solid rgb(0, 0, 0) !important;
    height: 6px;
    width: 15px;

 }
 
 .navbar a:hover {
    color: #2dbd23e7;
 }
 
 .active {
    transform: translateX(0%) !important;
 }


@media screen and (max-width:900px){
    .navbar{
        min-height: 50px;
        padding: 0 10%;
        position: none !important;

    }
}


 @media screen and (min-width:1300px){

    .limiter {
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: center;
    }
   
    #burger {
        display: none;
    }
 
    .navbar {
        justify-content: center !important;
        width: 100%;
        position: fixed;
        padding: 0 10%;
    }

    .navlinks {
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        transform: translateX(0%);
        overflow-y: visible;
        padding: 0;
    }
 
    .dropmenu {
        flex-direction: column;
        position: absolute;
        list-style: none;
        margin:0;
        padding: 0;
        width: 30%;
        display: none;
        left:30%;
        transform: translateX(-50%);
    }
    .navitems:hover > .dropmenu {
        display: flex;
    }
    .dropitems {
        text-align: center;
        padding: 1rem;
    }
    .navitems {
        padding: 1rem 1rem;
        text-align: center;
    }
    
    .shop{
        background: rgba(5, 66, 0, 1);
        border-radius: 10px;
        color: #fff;
        width: 120px !important;
        text-align: center !important;
        margin-left: 40px;
        height: 50px;
        display: flex;
        align-items: center;

        a{
            font-weight: 400;
            color: rgb(255, 255, 255);
         }
    }
    .shop:hover{
      background: rgb(169, 169, 169);

    }
    
 
 }
 @media screen and (max-width:500px){
   .navbar a {
     margin-left: 10px;
     font-size: 14px !important;
     text-align: center !important;

    }
    .navlinks a{
      text-align: center !important;
    }
    .logo {
   
      img{
         width: 30px;
       }
   }
   }
